CotizacionBCU/Service References/UltimoCierreBCU/wsultimocierre.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="Cotiza" xmlns:wsdlns="Cotiza" name="wsultimocierre" targetNamespace="Cotiza" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="Cotiza">
      <xsd:complexType name="wsultimocierreout">
        <xsd:sequence>
          <xsd:element name="Fecha" nillable="true" type="xsd:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="wsultimocierre.Execute">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="wsultimocierre.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Salida" type="wsdlns:wsultimocierreout" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="wsultimocierre.ExecuteSoapIn">
    <part name="parameters" element="wsdlns:wsultimocierre.Execute" />
  </message>
  <message name="wsultimocierre.ExecuteSoapOut">
    <part name="parameters" element="wsdlns:wsultimocierre.ExecuteResponse" />
  </message>
  <portType name="wsultimocierreSoapPort">
    <operation name="Execute">
      <input message="wsdlns:wsultimocierre.ExecuteSoapIn" />
      <output message="wsdlns:wsultimocierre.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="wsultimocierreSoapBinding" type="wsdlns:wsultimocierreSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="Cotizaaction/AWSULTIMOCIERRE.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="wsultimocierre">
    <port name="wsultimocierreSoapPort" binding="wsdlns:wsultimocierreSoapBinding">
      <soap:address location="https://cotizaciones.bcu.gub.uy/wscotizaciones/servlet/awsultimocierre" />
    </port>
  </service>
</definitions>